*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
  }


  
  .container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(18, 76, 110, 0.8),rgba(18, 76, 110, 0.8)), url(Air.png);
    background-position:center;
    background-size: cover;
    position: relative;
  }
  .container h1{
    text-align: center;
    font-size: 50px;
    position: relative;
    top: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(238, 240, 247) ;

  }
  .navbar-brand{
    color: black;
    position: absolute;
    left:42%;
    top:0%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
  }
  .form-box{
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%,-50%);
    background: rgb(242, 242, 243);
    padding: 50px 60px 70px;
    text-align: center;
  }
  .form-box h1{
    font-size: 30px;
    margin-bottom: 60px;
    color:rgb(5, 5, 200) ;
    position: relative;
  }
  .form-box h1::after{
    content: ' ';
    width:100px;
    height: 4px;
    border-radius: 7px;
    background: rgb(5, 5, 200);
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
  }

  .input-field{
    background: #eaeaea;
    margin: 40px 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    
  }
  input{
    width:100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 20px;
  }

.input-field{
    margin-left: -9px;
    color: #999;

}
.form p a{
    text-decoration: none;
    color: #3c00a0;
}
.button-field button{
    flex-basis: 48%;
    width: 50%;
    background:#09227d ;
    color:#fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition:background 1s;
}
.button-field button{
    flex-basis: 48%;
    background:#3c00a0 ;
    color:#fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition:background 1s;
}
.button-Admin{
  width:200%;
  position: relative;
  top:100px;
  right:-5px;
  display: flex;
  justify-content: space-between;
}
.button-Admin button{
  flex-basis: 48%;
  background:#3c00a0 ;
  color:#fff;
  height: 40px;
  border-radius: 20px;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition:background 1s;
}
.input-group{
    height: 450px;
}
.input-group p{
  font-size: 20px;
  position: relative;
  top: 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:rgb(4, 21, 86) ;

}
.button-field button.disable{
    background: #eaeaea;
    color: #555;
}
.submitField{
  width:100%;
  display: flex;
  justify-content: space-around;
  
  
}
.submitField button{
  flex-basis: 48%;
  background:#3c00a0 ;
  color:#fff;
  height: 40px;
  border-radius: 20px;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition:background 1s;
}